.step-creator-button {
    background: white;
    border-radius: 1.2em;
    position: fixed;
    right: 4em;
    text-align: center;
    top: 6em;
    z-index: 200;
}

.step-creator-button button {
    position: relative;
}

.visualization {
    position: relative;
}
