
.catalog--step {
    border-radius: 15px;
    cursor: grab;
}

.catalog--stepImage {
    height: 75px;
    width: 75px;
    align-items: center;
    border-right: 1px solid #DDDDDD;
    justify-content: center;
    padding: 15px;
    position: relative;
}

.catalog--stepLabel {
    margin-top: 5px !important;
}

/* MINI CATALOG */

/* Mini Catalog Search */
.miniCatalog--search.pf-c-toolbar__item {
    width: 100%;
}

/* Mini Catalog Step (from list) */
button.miniCatalog--stepItem.pf-c-button.pf-m-tertiary {
    --pf-c-button--after--BorderColor: transparent;
    width: 100%;
}

button.miniCatalog--stepItem:hover {
    background: #F5F5F5;
}

.miniCatalog--stepItem__grid {
    line-height: 40px;
    padding: 2px;
}

.miniCatalog--stepImage {
    height: 40px;
    width: 40px;
    padding: 0 5px;
}

