
.catalog--step {
    border-radius: 15px;
    cursor: grab;
}

.catalog--stepImage {
    height: 75px;
    width: 75px;
    align-items: center;
    border-right: 1px solid #DDDDDD;
    justify-content: center;
    padding: 15px;
    position: relative;
}

.catalog--stepLabel {
    margin-top: 5px !important;
}

.miniCatalog--step {
    cursor: pointer;
}

