
.step {
    border-radius: 15px;
    cursor: grab;
}

.stepImage {
    height: 75px;
    width: 75px;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.stepLabel {
    margin-top: 5px;
}


