
.topology svg {
    background-color: #fff;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.topology svg.forcing {
    cursor: crosshair;
}

.topology svg.dragging {
    cursor: move;
}

.topology line.link,
.topology path.link {
    fill: none;
    stroke: rgb(45, 45, 45);
    stroke-width: 3px;
    cursor: default;
}

.topology line.link.hovered,
.topology path.link.hovered {
    cursor: pointer !important;
}

.topology line.link.selected,
.topology path.link.selected {
    stroke-width: 3px !important;
    stroke: #f4e2ae !important;
}

.topology g.t2SLink.hovered > path,
.topology g.s2TLink.hovered > path {
    cursor: pointer !important;
}
.topology g.t2SLink.selected > path.t2SLine,
.topology g.s2TLink.selected > path.s2TLine {
    stroke-width: 10px !important;
    stroke: #f4e2ae !important;
}
.topology g.t2SLink.selected > path.t2SArrow,
.topology g.s2TLink.selected > path.s2TArrow {
    stroke-width: 1px !important;
    fill: #f4e2ae !important;
}

.topology svg:not(.active):not(.ctrl) line.link {
    cursor: pointer;
}

.topology path.dragline {
    fill: none;
    stroke: rgb(45, 45, 45);
    stroke-width: 3px;
    cursor: default;
    pointer-events: none;
}

.topology path.dragline.hidden {
    stroke-width: 0;
    display: none;
}

.topology .node {
    cursor: move;
}

.topology .node circle {
    stroke-width: 2px;
}

.topology .node circle.expandable {
    stroke-width: 4px;
}

.topology .node circle.container {
    stroke-width: 4px;
}

.topology text {
    font: 12px sans-serif;
    pointer-events: none;
}

.topology text.id {
    text-anchor: middle;
    font-weight: bold;
}

.topology path.svgpath {
    pointer-events: none;
}

.topology .disble-text-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.topology .icon-set {
    margin: 5px 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

.topology .icon {
    width: 32px;
    height: 32px;
    margin: 0 3px 0 0;
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.topology .node-number-icon {
}

.topology path.hull.selected {
    /*stroke: rgb(181, 181, 181) !important;*/
    /*fill: rgb(181, 181, 181) !important;*/
    stroke: #579fcb !important;
    fill: #579fcb !important;
    opacity: 1 !important;
}

.topology rect.group.selected {
    /*stroke: rgb(181, 181, 181) !important;*/
    /*fill: rgb(181, 181, 181) !important;*/
    stroke: #579fcb !important;
    fill: #579fcb !important;
    opacity: 1 !important;
}

.topology rect.group.selected.hovered {
    stroke: #579fcb !important;
    fill: #579fcb !important;
    opacity: 1 !important;
}

.topology rect.group.hovered {
    stroke: #579fcb !important;
    fill: #579fcb !important;
    opacity: 0.5 !important;
}

.topology .node.hovered .main-content {
    fill: #b5b5b5 !important;
}

.topology .node.hovered .node-label {
    fill: '#999' !important;
}

.topology g.node > circle.objInterface.hovered {
    cursor: pointer !important;
}

.topology g.node > circle.objInterface.selected {
    fill: #f4e2ae !important;
}

.topology g.node > circle.objInterface.selected + text {
    fill: #444 !important;
}

.topology g.node.selected > .highlight-area {
    /*fill: rgb(181, 181, 181) !important;*/
    /*fill: rgb(51, 122, 183) !important;*/
    /*fill: #299EEA !important;*/
    /*fill: #579fcb !important;*/
    fill: #f4e2ae !important;
}

.topology g.link > g.glabel.selected > rect {
    fill: #f4e2ae !important;
}

.topology g.link > g.glabel.hovered {
    cursor: pointer !important;
}

.topology g.link > g.glabel.hovered > rect {
    stroke-width: 2px !important;
}

.topology .minimap .frame {
    pointer-events: all;
}

.topology .minimap .frame .background {
    stroke: #555;
    stroke-width: 4px;
    fill-opacity: 0.1;
    fill: #000000;
    fill: url(#minimapGradient_forMinimap);
    filter: url(#minimapDropShadow_forMinimap);
    cursor: move;
}
