@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import '~@patternfly/react-core/dist/styles/base.css';
@import '~@patternfly/patternfly/patternfly.css';
@import '~@patternfly/patternfly/patternfly-theme-dark.css';
@import '~@patternfly/patternfly/utilities/Accessibility/accessibility.css';
@import '~@patternfly/patternfly/utilities/Display/display.css';
@import '~@patternfly/patternfly/utilities/Flex/flex.css';
@import '~@patternfly/patternfly/utilities/Sizing/sizing.css';
@import '~@patternfly/patternfly/utilities/Spacing/spacing.css';
@import '~reactflow/dist/style.css';

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.pf-u-screen-reader {
  display: none;
}
